<launch>
	<!-- 雷达 ros 驱动需要修改为同时输出自定义格式和 pcl2 格式，且两者频率不同。 -->
	<include file="$(find robot_bringup)/launch/msg_MID360.launch"/>

	<include file="$(find robot_bringup)/launch/TG.launch"/>
	<!-- start TG15 laser filter -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter" >
		<rosparam command="load" file="$(find robot_bringup)/cfg/ydlidar_filters.yaml" />
        <remap from="scan" to="scan_ydlidar"/>
        <remap from="scan_filtered" to="scan_ydlidar_filter"/>
    </node> 

	<include file="$(find robot_bringup)/launch/pointcloud_to_laserscan.launch"/>

	<include file="$(find robot_bringup)/launch/mapping_avia.launch"/>

	<include file="$(find robot_bringup)/launch/laserscan_merger.launch"/>

</launch>